$burger--thickness : 5px;
$width: 28px;
.burger{
    -webkit-tap-highlight-color: transparent;
   position: absolute;
   top:50px;
   right:0px;
   transition: left 1s;
   

   
	display: none;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	 border-bottom: $burger--thickness solid transparent;
    width: $width;
    
    animation-name: burgerTransitionIn;
    animation-duration: $burger-transition;
    animation-fill-mode: forwards;


	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid #e7cacc;
		width: 100%;
		margin-bottom: 3px;
		transition: transform $burger-rotation-duration ease-out;         
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid #e7cacc;
		width: 100%;
		margin-bottom: 3px;
		transition: transform $burger-rotation-duration ease-out;
	}
}

.burger-check {
    display: none;
}


.burger-check:checked ~ .burger {
    
    border-bottom: $burger--thickness solid transparent;
    animation-name: burgerTransition;
    animation-duration: $burger-transition;
    animation-fill-mode: forwards;
  
    &:before {
      transform: rotate(-1127deg) translateY(2px) translateX(-3.5px);
      transition: transform $burger-rotation-duration ease-out;
    }
  
    &:after {
      transform: rotate(1127deg) translateY(-2px) translateX(-3.5px); 
      transition: transform $burger-rotation-duration ease-out;
    }
}
  
@media (max-width: 650px) {
    .burger{
        display: inline-block;
    }
}

@keyframes burgerTransition{
    0%{
      transform: translate3d(0,0,0);
    }
    40%{
        transform: translate3d(0px,-40px,-30px);
    }
    70%{
        transform: translate3d(0px,-40px,-30px);
    }

    100%{
        transform: translate3d(4px,-1px,0);
        right:0;
    }
}


@keyframes burgerTransitionIn{
    0%{
      transform: translate3d(0,0,0);

    }
    10%{
        transform: translate3d(0px,-40px,-30px);
    }
    70%{
        transform: translate3d(0px,-40px,-30px);
       
    }
    90%{
        border-bottom: $burger--thickness solid transparent;
    }

    100%{
        top:50;
        transform: translate3d(0,0,0);
        border-bottom: $burger--thickness solid  #e7cacc;
    }
}