$burger--thickness : 5px;
$width: 40px;
.burger{
	@include BodyFadeIn($text-in-delay);
    -webkit-tap-highlight-color: transparent;
   position: absolute;
   top:42px;
   right:20px;
   
	display: none;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: $burger--thickness solid $text-dark;
    width: $width;
    transition: border-bottom 0.1s linear 0.4s;
   
	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $text-dark;
		width: 100%;
		margin-bottom: 3px;
		transition: transform $burger-rotation-duration ease-out;         
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $text-dark;
		width: 100%;
		margin-bottom: 3px;
		transition: transform $burger-rotation-duration ease-out;
	}
}

.burger-check {
    display: none;
}


.burger-check:checked ~ .burger {
    
    border-bottom: $burger--thickness solid transparent;
	transition: border-bottom 0.01s linear ;
	transform: translateY(-6px);
  
    &:before {
      transform: rotate(-405deg) translateY(2px) translateX(-3.5px);
      transition: transform $burger-rotation-duration ease-out;
    }
  
    &:after {
      transform: rotate(405deg) translateY(-2px) translateX(-3.5px); 
      transition: transform $burger-rotation-duration ease-out;
    }
}
  
@include sm  {
    .burger{
        display: inline-block;
    }
}
