.contact-banner{
 
  background-color: #e7cacc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 320px;
  

  .contact-banner-inner{
   display: flex;
   align-items: center;
   justify-content: center;

    img{
      min-height: 40px;
      min-width: 40px;
      max-width: 40px;
      max-height: 40px;
     padding-right:  20px ;
    }
    
  }
}

@include md {
  .contact-banner{
    width: 220px;
  }
}

@include sm {
  .contact-banner{
    width: 100%;
  }
}

