.contact-banner{
 
  background-color: #e7cacc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 320px;
  

  .contact-banner-inner{
   display: flex;
   align-items: center;
   justify-content: center;

    img{
      height: 40px;
     padding-right:  20px ;
    }
    
  }
}

@media (max-width: 650px) {
  .contact-banner{
    width: 100%;
  }
}

