.login-banner{
 
  
  display: flex;
  align-items: center;
  justify-content: center;
  width:220px;
  height: $header-height;
  background-color: white;
  
  .login-banner-inner{
   display: flex;
   align-items: center;
   justify-content: center;
   
    p{
      margin: 0;
      padding: 5px 17px;
     
    }
  }
  .cross{
    min-width: 25px;
    min-height:25px;
    display:none;
    pointer-events: none;
  }
}

@media (max-width: 650px) {
  .login-banner{
    width: 100%;
    // display: none;
  }
}
