
@font-face {
  font-family: "agenda";
  src: url("../fonts/Agenda\ Medium.otf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "SetSail";
  src: url("../fonts/set-sail.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: agenda, sans-serif;

}

h1,h2,h3,h4,h5,h6 {
  font-family: SetSail, sans-serif;
}

h3{
  font-size: 2.4rem;
  font-weight: 900;
}

p {
 
  font-family: agenda, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;

}
