.footer{
  background-color:$footer-background;
}
.footer-content {
width: 100%;
  
  @include BodyFadeIn(0s);
  
p{
 
  color: #696969;;
}

  h3 {
    padding: 100px 0;
    margin: 0;
  }

  .infos {
    padding-bottom: 100px;
    display: flex;
    justify-content: stretch;

    p {
      line-height: 2rem;
      width: 50%;
      margin-top: 0;
      padding-top: 0;  
      padding-right: 20px;
       flex-shrink: 0;
    }

    p:nth-child(2){
      width: 41.67%;
    }

    p:last-child {
     width: fit-content;
    }
  }
  .impressum{
    display: flex;
    padding-bottom: 50px;

    p {
      width: 50%;
      margin-top: 0;
      padding-top: 0;
    }

    p:nth-child(2){ 
      width: 41.67%;
    }
  
  }
}

@include md  {

  .footer-content{
  .infos {
    padding-bottom: 0px;
   
    flex-wrap: wrap;

    p {
      padding-bottom: 20px;
      width: 100%;
    }
    p:nth-child(2){
      width: 100%;

    }

    p:last-child {
      width: 30%;
      padding-right: 0;
     text-align: start;
    }
  }
  .impressum {
    flex-wrap: wrap;

    p {
      width: 100%;
    }
    p:nth-child(2){
      padding-top: 50px;
      width: 100%;
    }
  }
}
}

