.head {
    height: $header-height;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  @media (max-width: 650px) {
    .head{
      
      flex-wrap: wrap;
      position: relative;
      padding-top: 0%;
     
    }
  }

