.head {
    height: $header-height;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    background-color: white;
    top:0;
    max-width: 1920px;
    margin: 0 auto;
  }

  @include sm  {
    .head{
      position: fixed;
      flex-wrap: wrap;
      padding-top: 0%;
     
    }
  }

