.lang_shifter_wrap{
position: relative;
}

.lang_shifter{

    color: $text-primary;
    border: $text-primary solid 1px;
    display:flex;
    position: absolute;
    bottom: 100px;
    left:100px;
    border-radius: 2px;
    

    div{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height:35px;
        p{
            padding: 0;
            margin: 0;
            transform: translateY(2.5px);
        }
    }
    .lang_shifter_active{
        background-color: $light-red;
    }

}

@include md  {
    .lang_shifter_wrap{
        height: 35px;
       

        }
    .lang_shifter{
        
        bottom: 0;
        left:20px;

        div{
            width: 35px;
            height:25px;
        p{
            font-size: 15px;
        }
        }

      
    
  }
}