.logo {
  transform: translateX(-75px) translateY(35px);
  width: 300px;

  @include BodyFadeIn($logo-in-delay);
}

@media (max-width: 1094px) {
  .logo {
    transform: translateX(-75px) translateY(-10px);
    top: -12px;
  }
}

@media (max-width: 650px) {
  .logo {
    transform: translateX(-75px) translateY(-21px);
    width: 280px;
  }
}
