.logo {
  
  top:22px;
  position: absolute;
  max-height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  img{  
    width:100%;
    transform: translateX(-5px)
  }
  transform: translate3d(0,78px,0 );

  @include BodyFadeIn($logo-in-delay);
}

@media (max-width: 830px) {
  .logo {
    transform: translate3d(0,10px,0 );
  }
}
@media (max-height: 600px) {
  .logo {
    transform: translate3d(0,10px,0 );
  }
}


@media (max-width: 650px) {
  .logo {
    width: 140px;
   
  }
}
