.logo {
 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-left: 20px;
 
  
  img{  
    width:100%;
   
  }
  
  @include BodyFadeIn($logo-in-delay);
}

// @media (max-width: 830px) {
//   .logo {
//     transform: translate3d(0,10px,0 );
//   }
// }

// @media (max-height: 600px) {
//   .logo {
//     transform: translate3d(0,10px,0 );
//   }
// }

@media (max-width: 650px) {
  .logo {
    width: 200px;
  }
}
