$overlay-delay: 1s;
$overlay-duration: 1.5s;
$banner-delay: $overlay-delay + $overlay-duration;
$banner-duration: 2s;
$body-delay: 1.5s;
$body-in-between:0.35s;
$logo-in-delay: 0s;
$image-in-delay:$logo-in-delay + $body-in-between;
$image-animation-delay: $image-in-delay + 4s;
$header-in-delay:$image-in-delay + $body-in-between;
$text-in-delay:$header-in-delay + $body-in-between;





$text-dark: #474747;
$text-primary: #394076;

$footer-background : #f2f2f2;


$menu-transition-duration: 0.2s;
$burger-transition: $menu-transition-duration + 0.1s;
$burger-rotation-duration: $burger-transition + 0.2s;

$screen-sm-min: 650px;
$screen-md-min: 768px;


$header-height: 100px;

@mixin BodyFadeIn($delay) {
  opacity: 0;
  animation-name: BodyIn;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: $body-delay + $delay;
}

@keyframes BodyIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}