.video{
    z-index: -100;
    overflow: hidden;
    width: 66.8%;
    margin-left: auto;
    position: relative;
    right: 0;
    height: calc(100vh - 100px);
    min-height: 30vw;
  
    
   
  
    video{
    position: absolute;
   
    right: 0;
      height:inherit;
    }
    video::-webkit-media-controls-start-playback-button {
      display: none;
  }
}


@include md {
    .video {
      transform: translateX(60px);
      width: 100%;
      right: 0;
     
      height: 100vw;
      min-height: 30vw;
    }
  }
  
  .with-entrance-animation{
    .video{
      @include BodyFadeIn($text-in-delay);
    }
  }