.überschrift {
  width: 75%;
  top:0;
  position: absolute;
  display: flex;
  align-items: center;
  border: red solid 1px;


  @include BodyFadeIn($header-in-delay);

  h1 {
    text-shadow: 1px 1px 5px rgba(207, 207, 207, 0.432);
    width: 70%;
    font-family: agenda, sans-serif;
    color: $text-primary;
    letter-spacing: 0.35rem;
    z-index: 1000;
    transition: all 0.5s;
    padding-left: 10%;
   
  }
}


.überschrift::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 9 / 16 * 100%;
}

.überschrift::after {

  content: "";
  display: table;
  clear: both;
}
@media (max-width: 650px) {
  .überschrift{
    position: relative;
    padding-top: 0%;
   
  }
}

h1 {
   font-size: calc(2rem + 40 * ((100vw - 320px) / 680));
   margin-top: 30px;
   margin-bottom: 30px;
   line-height: 3rem;
}

@media screen and (min-width: 620px) {
  h1 {
    font-size: calc(3rem + 20 * ((100vw - 320px) / 680));
     margin-bottom: 20px;
     line-height: calc(5rem + 20 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 5rem;
    line-height: 7rem;
  }
}
