// Load CSS Reset from NPM
@import "./normalize";
@import "./variables";
@import "./fonts";
@import './banner/banner';
@import './banner/burger';
@import "./banner/contact_banner";
@import './banner/login_banner';

@import "./images";
@import "./overlay";
@import "./logo";
@import "./text";
@import "./footer";
@import './überschrift';
@import './head';



* {
  box-sizing: border-box;
}
body{
  color: $text-dark;
  width:100vw;
}

.main-content{
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 1320px;
  max-width: 100vw;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.container-wide {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}



.body {
  color: $text-dark;
  position: relative;
  overflow: hidden;
}

// @media (max-width: 650px) {
//   .body {
//     margin-top: 20px;
//   }
// }

::-webkit-scrollbar {
  width: 0;

  ::-webkit-scrollbar-thumb {
    background: #f00;
  }
}

a{
  text-decoration: none;
  color:$text-primary;
}
