// Load CSS Reset from NPM
@import "./normalize";
@import "./variables";
@import "./fonts";
@import './banner/banner';
@import './banner/burger';
@import "./banner/contact_banner";
@import './banner/login_banner';

// @import "./images";
@import "./overlay";
@import "./logo";
@import "./text";
@import "./footer";
@import './überschrift';
@import './head';
@import './video';



* {
  box-sizing: border-box;
}
body{
  color: $text-dark;
  scrollbar-width: none;
}


.main-content{
  max-width: 1920px;
  width: 100% ;
  margin: 0 auto;
  position: relative;
  scrollbar-width: none;
  
}

.container {
  width: 66.67%;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}


.container-wide {

  width: 83.33%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@include md {
  .container {
    width: 100%;
  }
  .container-wide {
    width: 100%;
  }
}



.body {
  margin-top: 100px;
  color: $text-dark;
  position: relative;
  overflow: hidden;
}



::-webkit-scrollbar {
  width: 0;

  ::-webkit-scrollbar-thumb {
    background: #f00;
  }
}

a{
  text-decoration: none;
  color:$text-primary;
}
