// Load CSS Reset from NPM
@import "./normalize";
@import "./variables";
@import "./fonts";
@import './banner/banner';
@import './banner/burger';
@import "./banner/contact_banner";
@import './banner/login_banner';

@import "./images";
@import "./overlay";
@import "./logo";
@import "./text";
@import "./footer";
@import './überschrift';


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #474747;

}

.container {
  width: calc(1vh * 135);
  max-width: 100vw;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;


}

.head {
 height: $header-height;
  width: 100%; 
  overflow: hidden;
border:red solid 1px;
display: flex;
justify-content: space-between;
align-items: center;

  height: $header-height;
  
}
@media (max-width: 650px) {
  .head{
   height: 120px;
  }
}

.body {
  min-height: calc(100vh - #{$header-height});
  color: $text-dark;
  position: relative;
  overflow: hidden;
}

// @media (max-width: 650px) {
//   .body {
//     margin-top: 20px;
//   }
// }

::-webkit-scrollbar {
  width: 0;

  ::-webkit-scrollbar-thumb {
    background: #f00;
  }
}

a{
  text-decoration: none;
  color:$text-primary;
}
